<div class="about">
    <div class="sectionName">
        <p class="sectionColor"> about me </p>
    </div>
    <div class="content">
        <div class="content-left" data-aos-once="true" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
            <p> Your Vision, My Code.
            </p>
        </div>

        <div class="content-right" data-aos-once="true" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
            <p> 
                From vision to reality, I fuse design and development 
                to build websites that captivate users and provide seamless functionality,
                creating a perfect balance between beauty and efficiency.
            </p>
        </div>
    </div> 

    <app-experiance> </app-experiance>

</div>