<div class="about">
    <div class="sectionName">
        <p> about me </p>
    </div>
    <div class="content">
        <div class="content-left">
            <p> Your Vision, My Code.
            </p>
        </div>

        <div class="content-right">
            <p> 
                From vision to reality, I fuse design and development 
                to build websites that captivate users and provide seamless functionality,
                creating a perfect balance between beauty and efficiency.
            </p>
        </div>
    </div> 

    <app-experiance> </app-experiance>

</div>