.projects {
    padding: 50px;
    background-color: #3D3F4A;
}

.projects .sectionName p {
    font-size: 55px;
    letter-spacing: 2px;
    color: grey;
    font-weight: bold;
    position: relative;
}

.projects .sectionName p::after {
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    width: 50px;
    background-color: gray;
    border-radius: 10px;
    left: 0;
}




/* @media(max-width:900px) {
    .projects .contentProject{
        grid-template-columns: repeat(2, 1fr);
    }
    
} */




/* @media(max-width:650px) {
    .projects .contentProject{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .projects {
        padding: 50px 15px;
    }
} */



/* @media(max-width:500px) {
    .projects {
        padding: 50px 15px;
    }
} */



.projects .allProjects {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.allProjects .adidas-parent,
.allProjects .design-parent,
.allProjects .fitness-parent,
.allProjects .trip-parent,
.allProjects .snap-parent {
    width: 100%;
}

.design-parent,
.trip-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}


.adidas,
.design,
.fitness,
.trip,
.snap {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 275px;
    width: 50%;
    cursor: pointer;
    transition: 0.3s linear;
    position: relative;
    margin-bottom: 50px;
}


.adidas {
    background-image: url(../../assets/adidas.jpeg);
}

.design {
    background-image: url(../../assets/room.jpg);
}


.fitness {
    background-image: url(../../assets/gym.png);
}


.trip {
    background-image: url(../../assets/paris.jpg);
}


.snap {
    background-image: url(../../assets/featured-02.jpg);
}


.adidas .desc,
.design .desc,
.fitness .desc,
.trip .desc,
.snap .desc {
    background-color: black;
    padding: 10px 15px;
    height: 150px;
    width: 350px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;
    top: 50%;
    right: -270px;
    /* transform: translateY(-50%); */
}


.desc span {
    font-size: 55px;
    letter-spacing: 3px;
    letter-spacing: 2px;
    color: white;
    color: #fff0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    line-height: 70px;
}

.desc .view {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.desc .view i {
    margin: 0 20px;
}





@media(max-width : 1000px) {
    .adidas,
    .design,
    .fitness,
    .trip,
    .snap {
        width: 70%;
    }


    .adidas .desc,
    .design .desc,
    .fitness .desc,
    .trip .desc,
    .snap .desc {
        width: 285px;
        right: -150px;
    }
}



@media(max-width : 800px) {
    .adidas,
    .design,
    .fitness,
    .trip,
    .snap {
        width: 70%;
    }


    .adidas .desc,
    .design .desc,
    .fitness .desc,
    .trip .desc,
    .snap .desc {
        width: 275px;
        right: -130px;
    }
}



@media(max-width : 730px) {
    .adidas,
    .design,
    .fitness,
    .trip,
    .snap {
        width: 100%;
    }


    .adidas .desc,
    .design .desc,
    .fitness .desc,
    .trip .desc,
    .snap .desc {
        width: 270px;
        right: -35px;
    }
}






@media(max-width : 500px) {
    .projects {
        padding: 50px 15px;
    }


    .adidas .desc,
    .design .desc,
    .fitness .desc,
    .trip .desc,
    .snap .desc {
        width: 215px;
        right: -10px;
    }
}

