<div class="projects">
    <div class="sectionName">
        <p class="sectionColor"> projects </p>
    </div>

    <div class="contentProject">
            <div class="content">
                <div class="forImage">
                    <div></div>
                </div>
    
                <div class="forName">
                    <p> adidas </p>
                    <i class="fa-solid fa-location-arrow"></i>
                </div>
            </div>
    
            <div class="content">
                <div class="forImage">
                    <div></div>
                </div>
    
                <div class="forName">
                    <p> designer </p>
                    <i class="fa-solid fa-location-arrow"></i>
                </div>
            </div>
    
            <div class="content">
                <div class="forImage">
                    <div></div>
                </div>
    
                <div class="forName">
                    <p> fitness </p>
                    <i class="fa-solid fa-location-arrow"></i>
                </div>
            </div>

            <div class="content">
                <div class="forImage">
                    <div></div>
                </div>
    
                <div class="forName">
                    <p> trippy </p>
                    <i class="fa-solid fa-location-arrow"></i>
                </div>
            </div>
    
            <div class="content">
                <div class="forImage">
                    <div></div>
                </div>
    
                <div class="forName">
                    <p> snap-x </p>
                    <i class="fa-solid fa-location-arrow"></i>
                </div>
            </div>
    
            <div class="content">
                <div class="forImage">
                    <div></div>
                </div>
    
                <div class="forName">
                    <p> snap-x </p>
                    <i class="fa-solid fa-location-arrow"></i>
                </div>
            </div>
        </div>
</div>