<div class="projects">
    <div class="sectionName">
        <p class="sectionColor"> projects </p>
    </div>
    <div class="allProjects">
        <div class="adidas-parent">
            <div class="adidas">
                <div class="desc">
                    <span> adidas </span>
                    <div class="view">
                        <p> view project </p>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>





        <div class="design-parent">
            <div class="design">
                <div class="desc">
                    <span> design </span>
                    <div class="view">
                        <a href="https://resplendent-druid-5febc9.netlify.app/" target="_blank">
                            view project
                        </a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="fitness-parent">
            <div class="fitness">
                <div class="desc">
                    <span> fitness </span>
                    <div class="view">
                        <a href="https://fitness-club-website-nu.vercel.app/" target="_blank">
                            view project
                        </a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="trip-parent">
            <div class="trip">
                <div class="desc">
                    <span> trippy </span>
                    <div class="view">
                        <a href="https://trippy-site.vercel.app/service" target="_blank">
                            view project
                        </a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="snap-parent">
            <div class="snap">
                <div class="desc">
                    <span> snap-x </span>
                    <div class="view">
                        <p> view project </p>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>