<div class="contact">
    <div class="sectionName">
        <p class="sectionColor"> contact </p>
    </div>

    <div class="conentparent">
        <div class="socalmedia" data-aos-once="true" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
            <p> I'm happy to connect with you here.</p>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100010946116567"  target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/hatem.mhmd1/?igsh=dXhnem1neWczdXNx&utm_source=qr#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/hatem-hushkey-035551225?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/hatemmhmd" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>

        <div class="rightside" data-aos-once="true" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">
            <div class="content-right-side">
                <p> let's talk</p>
                <h3> have an idea? </h3>
                <span> just drop me an email. </span>
                <h4><i class="fa-regular fa-envelope"></i> hatemalhushkey&#64;gmail.com</h4>
            </div>
        </div>

    </div>

</div>