<div class="menu" [ngClass]="clickMenu ? 'showMenu' : ''">
    <div class="sub-menu">
        <div class="list">
            <ul>
                <li (click)="onListMenu('Home')"> <a> home </a>  </li>
                <li (click)="onListMenu('About')"> <a> about me </a> </li>
                <li (click)="onListMenu('Services')"> <a> services </a> </li>
                <li (click)="onListMenu('Skills')"> <a> skills </a> </li>
                <li (click)="onListMenu('Projects')"> <a> projects </a> </li>
                <li (click)="onListMenu('Contect')"> <a> contect </a> </li>
            </ul>
        </div>

        <div class="line">
            <div></div>
        </div>

        <div class="links">
            <ul>
                <li><a> <i class="fa-regular fa-envelope"></i> </a></li>
                <li><a> <i class="fa-brands fa-instagram"></i> </a></li>
                <li><a> <i class="fa-brands fa-linkedin-in"></i> </a></li>
                <li><a> <i class="fa-brands fa-github"></i> </a></li>
            </ul>
        </div>
    </div>
</div>