<div class="menu" [ngClass]="clickMenu ? 'showMenu' : ''">
    <div class="sub-menu">
        <div class="list">
            <ul>
                <li 
                    (click)="onListMenu('Home')"> 
                    <a 
                        (touchstart)="isHovering = true"
                        (touchend)="isHovering = false">
                        home 
                    </a>  
                </li>

                <li 
                    (click)="onListMenu('About')"
                    (touchstart)="isHovering = true"
                    (touchend)="isHovering = false"> 
                    <a> about me </a> 
                </li>

                <li 
                    (click)="onListMenu('Services')"
                    (touchstart)="isHovering = true"
                    (touchend)="isHovering = false"> 
                    <a> services </a> 
                </li>

                <li 
                    (click)="onListMenu('Skills')"
                    (touchstart)="isHovering = true"
                    (touchend)="isHovering = false"> 
                    <a> skills </a> 
                </li>

                <li 
                    (click)="onListMenu('Projects')"
                    (touchstart)="isHovering = true"
                    (touchend)="isHovering = false"> 
                    <a> projects </a> 
                </li>

                <li 
                    (click)="onListMenu('Contect')"
                    (touchstart)="isHovering = true"
                    (touchend)="isHovering = false"> 
                    <a> contect </a> 
                </li>
            </ul>
        </div>

        <div class="line">
            <div></div>
        </div>

        <div class="links">
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100010946116567"  target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/hatem.mhmd1/?igsh=dXhnem1neWczdXNx&utm_source=qr#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/hatem-hushkey-035551225?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/hatemmhmd" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</div>