<div class="skills">
    <div class="sectionName">
        <p class="sectionColor"> skills </p>
    </div>


    <div class="parentSkills">

        <div class="marqueeSkills">
            <div class="marquee">
                <div class="marquee-content-icon">

                    
                    <div class="marquee-tag">
                        <div class="icon">
                            <span> problem </span>
                            <span> solving </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> Teamwork  </span>
                        </div>
                    </div>

                    <div class="marquee-tag">
                        <div class="icon">
                            <span> time  </span>
                            <span> </span>
                            <span> management </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span>continuous </span>
                            <span> </span>
                            <span> learning</span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> patience </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> resilience </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> self </span>
                            <span> motivation </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> adaptability </span>
                        </div>
                    </div>

                    <div class="marquee-tag">
                        <div class="icon">
                            <span> problem </span>
                            <span> </span>
                            <span> solving </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> Teamwork  </span>
                        </div>
                    </div>

                    <div class="marquee-tag">
                        <div class="icon">
                            <span> time  </span>
                            <span> management </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span>continuous</span>
                            <span> learning</span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> patience </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> resilience </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> self &nbsp; </span>
                            <span> motivation </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> adaptability </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="marqueeSkills">
            <div class="marquee">
                <div class="marquee-content">

                    <div class="marquee-tag">
                        <div class="icon">
                            <span> html </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> css </span>
                        </div>
                    </div>

                    <div class="marquee-tag">
                        <div class="icon">
                            <span> bootstrap </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> javascript </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> typescript </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> angular </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> database </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> sql  </span>
                            <span> server </span>
                        </div>
                    </div>




                    <div class="marquee-tag">
                        <div class="icon">
                            <span> c# </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> .NET </span>
                            <span>core</span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> html </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> css </span>
                        </div>
                    </div>

                    <div class="marquee-tag">
                        <div class="icon">
                            <span> bootstrap </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> javascript </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> typescript </span>
                        </div>
                    </div>

                    <div class="marquee-tag">
                        <div class="icon">
                            <span> angular </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> database </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> sql  </span>
                            <span> server </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> c# </span>
                        </div>
                    </div>


                    <div class="marquee-tag">
                        <div class="icon">
                            <span> .NET  </span>
                            <span> core </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>