.skills {
    padding: 50px;
}

.skills .sectionName p {
    font-size: 55px;
    letter-spacing: 2px;
    color: grey;
    font-weight: bold;
    position: relative;
}

.skills .sectionName p::after {
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    width: 50px;
    background-color: gray;
    border-radius: 10px;
    left: 0;
}


.skills .parentSkills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.skills .parentSkills .image img {
    width: 500px;
}


.skills .marqueeSkills {
    margin: 20px 0;
    width: 100%;
}


.marquee {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* border-left: 1px solid;
    border-right: 1px solid */
}


.marquee-content {
    cursor: pointer;
    display: flex;
    animation: marque 50s linear infinite running;
    justify-content: center;
    align-items: center;
}


.marquee-content-icon {
    cursor: pointer;
    display: flex;
    animation: iconmarque 50s linear infinite running;
    justify-content: center;
    align-items: center;
}

.marquee-tag .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 15px;
}

.marquee-tag .icon span:nth-child(1){
    margin: 0 5px;
}

.marquee-tag .icon span {
    font-size: 33px;
    text-transform: capitalize;
    transition: 0.3s linear;
    letter-spacing: 5px;
    color: white;
    letter-spacing: 2px;
    /* color: #fff0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff; */
}

.icon i {
    font-size: 45px;
    margin: 10px;
    transition: 0.3s linear;
    color: white;
}


.marquee-content:hover,
.marquee-content-icon:hover {
    animation-play-state: paused;
    transition: 0.3s linear;
}


.marquee-tag {
    width: auto;
    text-align: center;
    margin: 0 10px;
    padding: 5px 20px;
    transition: 1s;
}


.marquee-tag .icon:hover i,
.marquee-tag .icon:hover span {
    color: #f1cc9f;
    transition: 0.3s linear;
}




@keyframes marque {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-50%);
    }
}

@keyframes iconmarque {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translate(0);
    }
}







@media(max-width:500px) {
    .skills {
        padding: 50px 15px;
    }
}