<div class="skills">
    <div class="sectionName">
        <p> skills </p>
    </div>

    <div class="marqueeSkills">
        <div class="marquee">
            <div class="marquee-content-icon">

                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-html5-plain"></i>
                        <!-- <span> html </span> -->
                    </div>
                </div>

                
                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-css3-plain"></i>
                        <!-- <span> css </span> -->
                    </div>
                </div>

                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-bootstrap-plain"></i>
                        <!-- <span> bootstrap </span> -->
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-javascript-plain"></i>
                        <!-- <span> java script </span> -->
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-typescript-plain"></i>
                        <!-- <span> type script </span> -->
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-angularjs-plain"></i>
                        <!-- <span> angular </span> -->
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-azuresqldatabase-plain"></i>
                        <!-- <span> database </span> -->
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-microsoftsqlserver-plain"></i>
                        <!-- <span> sql server </span> -->
                </div>
                </div>


 

                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-csharp-plain"></i>
                        <!-- <span> c# </span> -->
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <i class="devicon-dotnetcore-plain"></i>
                        <!-- <span> .NET core </span> -->
                </div>
                </div>


            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-html5-plain"></i>
                    <!-- <span> html </span> -->
                </div>
            </div>

            
            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-css3-plain"></i>
                    <!-- <span> css </span> -->
                </div>
            </div>

            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-bootstrap-plain"></i>
                    <!-- <span> bootstrap </span> -->
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-javascript-plain"></i>
                    <!-- <span> java script </span> -->
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-typescript-plain"></i>
                    <!-- <span> type script </span> -->
                </div>
            </div>

            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-angularjs-plain"></i>
                    <!-- <span> angular </span> -->
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-azuresqldatabase-plain"></i>
                    <!-- <span> database </span> -->
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-microsoftsqlserver-plain"></i>
                    <!-- <span> sql server </span> -->
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-csharp-plain"></i>
                    <!-- <span> c# </span> -->
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <i class="devicon-dotnetcore-plain"></i>
                    <!-- <span> .NET core </span> -->
                </div>
            </div>

            </div>
           </div>
    </div>

    <div class="marqueeSkills">
        <div class="marquee">
            <div class="marquee-content">

                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-html5-plain"></i> -->
                        <span> html </span>
                    </div>
                </div>

                
                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-css3-plain"></i> -->
                        <span> css </span>
                    </div>
                </div>

                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-bootstrap-plain"></i> -->
                        <span> bootstrap </span>
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-javascript-plain"></i> -->
                        <span> java script </span>
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-typescript-plain"></i> -->
                        <span> type script </span>
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-angularjs-plain"></i> -->
                        <span> angular </span>
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-azuresqldatabase-plain"></i> -->
                        <span> database </span>
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-microsoftsqlserver-plain"></i> -->
                        <span> sql server </span>
                </div>
                </div>


 

                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-csharp-plain"></i> -->
                        <span> c# </span>
                    </div>
                </div>


                <div class="marquee-tag">
                    <div class="icon">
                        <!-- <i class="devicon-dotnetcore-plain"></i> -->
                        <span> .NET core </span>
                </div>
                </div>


            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-html5-plain"></i> -->
                    <span> html </span>
                </div>
            </div>

            
            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-css3-plain"></i> -->
                    <span> css </span>
                </div>
            </div>

            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-bootstrap-plain"></i> -->
                    <span> bootstrap </span>
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-javascript-plain"></i> -->
                    <span> java script </span>
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-typescript-plain"></i> -->
                    <span> type script </span>
                </div>
            </div>

            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-angularjs-plain"></i> -->
                    <span> angular </span>
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-azuresqldatabase-plain"></i> -->
                    <span> database </span>
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-microsoftsqlserver-plain"></i> -->
                    <span> sql server </span>
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-csharp-plain"></i> -->
                    <span> c# </span>
                </div>
            </div>


            <div class="marquee-tag">
                <div class="icon">
                    <!-- <i class="devicon-dotnetcore-plain"></i> -->
                    <span> .NET core </span>
                </div>
            </div>

            </div>
           </div>
    </div>


</div>