<div class="navBar">
  <div class="logo"> 
    <p> hatem </p>
    <span> <i class="fa-solid fa-cubes"></i> </span>
  </div>

  <div class="list" *ngIf="showMenu" 
    [ngClass]="showMenu ? 'showMenu' : ''">
    <ul>
      <li>home</li>
      <li>about</li>
      <li>services</li>
      <li>skills</li>
      <li>contact</li>
    </ul>
  </div>

  <div class="burgerMenu" (click)="onShowMenuBtn()">
    <div [ngClass]="showMenu? 'ifShowOpen' : ''"></div>
    <div></div>
  </div>

</div>


<app-home></app-home>
<app-about></app-about>
<app-services> </app-services>

<!-- <app-skills> </app-skills> -->


<app-contact> </app-contact>

