.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
}


.navBar .logo{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navBar .logo p{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right:5px;
}


.navBar .list ul{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.navBar .list ul li{
    list-style: none;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s linear;
}


.navBar .list ul li:hover{
    color: grey;
}


.navBar .burgerMenu{
    cursor: pointer;
    display: none;
    z-index: 999;
}

.navBar .burgerMenu div{
    background-color: aliceblue;
    height: 3px;
    width: 30px;
    margin: 7px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s linear;

}

.navBar .burgerMenu div:nth-child(1){
    width: 15px;
}


.showMenu{
    left: 0px !important;
}

.ifShowOpen{
    width: 30px !important;
}

@media (max-width: 800px) { 

    .navBar .list{
        background-color: black;
        height: 100vh;
        width: 100%;
        position: absolute;
        left: -800px;
        bottom: 0;
        z-index: 99;
        transition: 1s linear;
    }

    .navBar .list ul{
        align-items: self-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    
    
    .navBar .list ul li{
        margin: 20px;
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    
    .navBar .list ul li:hover{
        color: grey;
    }
    

    .navBar .burgerMenu{
        display: block;
    }

}



@media(max-width:500px) {
    .navBar{
        padding: 0 20px;
    }
    
}