<div class="navBar" [ngClass]="showNavBar() ? 'bg' : ''">
    <div class="logo">
        <p> hatem </p>
    </div>

    <div class="burgerMenu" (click)="onClickMenu()">
            <div [ngClass]="showMenu? 'ifShowOpen' : ''"></div>
            <div></div>
    </div>
</div>


<div class="scrollToTop" *ngIf="onscroll()" (click)="scrollTop()">
    <i class="fas fa-arrow-up"></i>
</div>


<app-menu [clickMenu]="showMenu" 
(viewMenu)="getMenuStatus($event)"
(scrollsection)="getSection($event)"
> </app-menu>


<app-home id="Home"></app-home>
<app-about id="About"></app-about>
<app-services id="Services"> </app-services>

<!-- <app-skills> </app-skills> -->


<app-contact id="Contect"> </app-contact>


