<div class="navBar" [ngClass]="showNavBar() ? 'bg' : ''">
    <div class="logo">
        <p> hatem </p>
    </div>

    <div class="burgerMenu" (click)="onClickMenu()">
            <div [ngClass]="showMenu? 'ifShowOpen' : ''"></div>
            <div></div>
    </div>
</div>


<div class="scrollToTop" *ngIf="onscroll()" (click)="scrollTop()">
    <i class="fas fa-arrow-up"></i>
</div>


<app-menu [clickMenu]="showMenu" (viewMenu)="getMenuStatus($event)"> </app-menu>


<app-home></app-home>
<app-about></app-about>
<app-services> </app-services>

<!-- <app-skills> </app-skills> -->


<app-contact> </app-contact>


