.home{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 80vh;
    padding: 0 50px;
}

.home .text{
    width: 550px;
}


.home .text p{
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.home .cv-btn {
    background-color: transparent;
    border-radius : 70px;
    padding: 30px 80px;
    transition: 0.3s linear;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(255, 255, 254);
}

.home .cv-btn:hover {
    background-color: grey;
    border: none
}


.home .cv-btn p{
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0 5px;
}


.home .cv-btn span i{
    font-size: 20px;
}



@media (max-width: 900px) { 

    .home{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    }

}

@media (max-width: 600px) { 

    .home{
        padding: 0 30px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
    }

    .home .text{
        width: 100%;
        margin: 50px 0;
    }
    
    
    .home .text p{
        font-size: 90px;
    }
    
    .home .cv-btn {
        padding: 20px 60px;
    }
    
}


@media(max-width:500px) {
    .home{
        padding: 0 15px;
    }

}


@media (hover: hover) and (pointer: fine) {
    .home .cv-btn:hover {
        background-color: grey;
        border: none;
    }
}

/* Active for touch devices */
@media (hover: none) and (pointer: coarse) {
    .home .cv-btn:active {
        background-color: grey;
        border: none;
    }
}