.home{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 80vh;
    padding: 0 50px;
}

.home .text{
    width: 550px;
}


.home .text p{
    font-size: 110px;
    letter-spacing: 2px;
    color: white;
    color: #fff0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: 70px;
}

.home .cv-btn {
    background-color: transparent;
    border-radius : 70px;
    padding: 30px 80px;
    transition: 0.3s linear;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(255, 255, 254);
}

.home .cv-btn p{
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0 5px;
}


.home .cv-btn span i{
    font-size: 20px;
}



@media (max-width: 900px) { 

    .home{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    }

}

@media (max-width: 600px) { 

    .home{
        padding: 0 30px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
    }

    .home .text{
        width: 100%;
        margin: 50px 0;
    }
    
    
    .home .text p{
        font-size: 80px;
    }
    
    .home .cv-btn {
        padding: 20px 60px;
    }
    
}


@media(max-width:500px) {
    .home{
        padding: 0 15px;
    }


    .home .text{
        margin: 70px 0;
    }
    

    .home .text p{
        line-height: 55px;
    }

}